header {
    position: relative;
  }
  
  .logo, .header {
    font-size: 3em;
  }
  
  #profile {
    display: inline-flex;
    position: absolute;
    right: 0;
    margin-top: 16px;
    padding-right: 10px;
  }
  #profile button{
    text-align: center;
      background-color: #51efedf2;
      padding: 8px;
      transform: skew(-11deg);
      text-decoration: none;
  }
  
  #profile span {
    padding: 5px 10px;
  }
  
  #profile a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  #profile a:hover {
    color: #000000;
  }
  
  /* Nav CSS */
  #menu {
    display: inline-block;
    float: right;
    border: 1px solid black;
    margin: 15px;
    width: 200px;
  }
  
  #menu .title {
    background: #61d3e4;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
  }
  
  .nav {
    font-size: 2rem;
    text-decoration: none;
    padding: 5px 10px;
    margin: 10px;
    display: inline-flex;
  }
  
  .nav:hover {
    background: #61d3e4;
  }
  
  .nav:visited {
  }
  
  .nav.active {
    background: #ffffff;
  }